<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

<main class="container">
    <div class="jumbotron">
      <div style="width: 100%; overflow: hidden;">
        <div class="vertical-center">
          <div class="left" style=" text-align: center;">
            <div >
              <h1 class="display-4" style="font-size: 30px; text-align:center"><i class="far fa-lg fa-question-circle"></i> &nbsp;&nbsp;<b>Welcome to the <%= title %> Page! </b></h1>
              <br>
                <h3> About me! </h3>
                <br>
                <p> I am 20 years old and currently I am in my third semester in Cenntennial college. <br>
                Studying Ai & Software Enginering Techonology. It is been 1 year since I came to Canada <br>
                for my education. I live by myself and work part time while studying. I am from Turkey but <br>
                when I was in high school I lived in Brazil. I speak 3 languages those are Turkish, English <br>
                and Portuguese.</p>
            </div>
          <div style="display: flex;">
                <a href="Assets\images\Yusuf-Resume.pdf"><button type="button" class="btn btn-primary btn-sm">Resume!</button></a>
                <p> &nbsp;&nbsp;  Click here to see my resume!</p>
            </div>
          
        </div>
      </div>
      <div >
          <img src="Assets\images\yusuf.JPG" alt="yusuf_bilgic" height="300" style="float:right; margin: 0px 0px 0px 100px;" class="centered" >
          </div>
    </div>
</main>

<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>