<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

<main class="container">
          <div class="left" style=" text-align: center;">
              <h1 class="margin-top" style="font-size: 30px; text-align:center"><i class="fas fa-lg fa-project-diagram"></i>&nbsp;&nbsp;Welcome to the <%= title %> Page! </h1>
              <br>
           </div>
              
              <p><b>Table Drawer:</b><br></p>
              <p>For the Client Side Web Development, I made a Table Drawer. This web site draws a table depending on the user input.</p>
          <div>
          <img src="Assets\images\tableSite.png" alt="player" height="200"  >
          </div>
          <br>
          <p><b>Weather App:</b><br></p>
              <p>For the Client Side Web Development, I made a Weather web site. This web site shows the weather in the any city <br>that is provided by user</p>
            <div >
          <img src="Assets\images\weatherApp.png" alt="meal" height="200"  >
          </div>
          <br>
          <p><b>BMR Calculator Website:</b><br></p>
              <p>For the Client Side Web Development, I made a BMR Calculator. This website calculates the basal metabolic rate according<br> to the information provided by the user.</p>
            <div >
          <img class="margin-bottom" src="Assets\images\BmrCal.png" alt="bmr" height="200"  >
          </div>
        
        
</main>

<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>